//!<ПЕРЕМЕННЫЕ>=============================================================================================
$dark-blue: #19192d;
$bg-section: #f5f7f9;
$grey: #768194;
$white: #fff;
$blue: #0085ff;
$green: #00a795;
$red: #fb2828;
$fontFamily: "Lato";
$minWidth: 320;
$maxWidth: 1440;
$container: 1320;

// Learning platform specific
$blue-learning: #268ae7;
$dark-learning: #080e14;
$grey-learning: #67717a;
$divider: #edf1f5;
//!<ПЕРЕМЕННЫЕ>=============================================================================================

//!<Адаптивное свойство>====================================================================================
@mixin adaptiv($indentType, $pcSize, $mobSize, $important: false) {
  $addSize: $pcSize - $mobSize;
  $answer: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  @if $important == false {
    #{$indentType}: $pcSize + px;
    @media (max-width: #{$maxWidth + px}) {
      #{$indentType}: $answer;
    }
  } @else {
    #{$indentType}: $pcSize + px !important;
    @media (max-width: #{$maxWidth + px}) {
      #{$indentType}: $answer !important;
    }
  }
}
//!<Адаптивное свойство>====================================================================================
